.body-container {
    text-align: left;
    overflow: auto; 
    box-sizing: border-box;
}

 .body {
    display: inline-block; 
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f1f5f8;
    margin-left: 210px;
    width: calc(100% - 220px);
    height: 100%;
 }

