<div class="login-container">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>

    <div class="form-container">
        <form action="dashboard" method="get">
            <div class="input-container">
                <input type="text" id="username" placeholder="Email Address / Username" >
            </div>

            <div class="input-container">
                <input type="password" id="password" placeholder="Password" >
            </div>

            
            <a href="login" class="forgot">Forgot Password?</a>

            <br>

                <button type="submit">Log In</button>

            <br><br><br><br>

            <p>Doesn't have an account? <a href="register">Register</a></p>

        </form>
    </div>

    <div class="vertical-line"></div>    
    
</div>