<p>DASHBOARD</p>

<div class="dash-card">
    <app-card 
        name = "Harry"
        position = "Speaker of the House"
        company = "Republic of the Philippines">
    </app-card>   
    <app-card 
        name = "Harry"
        position = "Speaker of the House"
        company = "Republic of the Philippines">
    </app-card>   
    <app-card 
        name = "Harry"
        position = "Speaker of the House"
        company = "Republic of the Philippines">
    </app-card>   
</div>


<br><br>

<div class="dash-table">
    <h2>Subjects</h2>
    <br>
    <app-table></app-table>
</div>

     