<div class="registration-container">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    
    <div class="regform-container">
        <form action="login" method="get">
            <div class="input-container">
                <input type="text" id="username" placeholder="Username" >
            </div>

            <div class="input-container">
                <input type="email" id="email" placeholder="Email Address" >
            </div>

            <div class="input-container">
                <input type="password" id="password" placeholder="Password">
            </div>

            <div class="input-container">
                <input type="password" id="confirm-password" placeholder="Confirm Password">
            </div>

            <button type="submit">Register</button>

            <br><br><br>

            <p>Already have an account? <a href="login">Log In</a></p>

            <br>
        </form>
    </div>

    <div class="vertical-line"></div> 
    
</div>